# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables (IMPORTANT)
.env
server/.env
client/.env

# Build folders
build/
dist/
client/dist/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Coverage
coverage/

# Misc
*.pem